.container {
    width: 50%;
    margin: 10px 25%;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    line-height: 25px;
}
#guestbook {
	width: 50%;
    margin: 0 25%;
}
#guestbook input, #guestbook textarea {
	width: 90%;
}
#guestbook input[type="text"], #guestbook textarea {
	border: none;
	padding: 10px 5%;
	margin: 10px 0;
	background: #efefef;
	text-align: center;
}