doctype html
html
	head
		title User info app: Search
	body
		h1 Welcome searching stranger
		form( action="/search", method="post" )
			input( type="text", name="search", placeholder="Kahjit can find" )
			input( type="submit" )